body, html {
    margin: 0 auto;
    background-color: #25072e;
    background-image: url("../photos/background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans';
}
h2 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4.5px;
    color: #ec008c;
}
h3 {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3.8px;
    color: #CCC8FF;
}
/* Page Header Styles */
.page-header {
    position: fixed;
    top: 10px;
    left: 30px;
}
/* Page Menu Styles */
.page-menu__items {
   padding-left: 0;
}
.page-menu__item {
    padding: 5px ;
}
.page-menu__item a {
    text-decoration: none;
    color: #ec008c;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 6.7px;
    text-decoration-style: none;
}
/* Page Content Styles */ 
.screen-reader-only {
    display: none;
}
.content-section {
    height: 100vh;
}
.page-content {
    width: 80%;
    padding-left: 20%;
}
.content-section__header {
}
/* Member List Styles */
.members-list {
    display: flex;
    color: #CCC8FF;
    padding-top: 15%;
}
.members-list__name {
    font-size: 15px;
    letter-spacing: 3.8px;
}
.members-list__role {
    font-size: 13px;
    letter-spacing: 3.5px;
    opacity: 0.5;
}
.content-section__header {
    text-align: right;
    padding-right: 50px;
}
.about-section__image {
    position: absolute;
    right: 3%;
    border-top: 3px solid #ec008c;
    width: 50%;
    z-index: 1;
}
.about-section__description {
    position: relative;
    top: 35%;
    left: 5%;
    z-index: 2;
    background-color: #25072e;
    border-bottom: 3px solid #ec008c;
    padding: 2% 3%;
    width: 350px;
    min-height: 250px;
}
.about-section__description-content {
    color: #CCC8FF;
    font-size: 13px;
}
.concerts {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 3%;
    width: 720px;
}
.concerts__item {
    flex: 1 1 350px;
}
.concerts__image {
    width: 350px;
    border-bottom: 3px solid  #ec008c;
}
.concerts__description {
    padding: 2% 0;
    height: 50px;
}
.video {
    position: absolute;
    right: 3%;
    border-top: 3px solid  #ec008c;
}
.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 3%;
    width: 950px; 
}
.photo-gallery__item {
    flex: 1 1 300px;
}
.photo-gallery__image {
    width: 300px;
    border-top: 3px solid  #ec008c;
}
.contact-section__image {
    position: relative;
    left: 15%;
}
.contact-section__address {
    position: relative;
    left: 60%;
    bottom: 25%;
    color: #CCC8FF;
    width: 15%;
}
.form {
    position: relative;
    left: 15%; 
    width: 50%; 
}
/* Footer Styles */
.page-footer {
    position: fixed;
    bottom: 10px;
    left: 25px;
}
ul {
    list-style-type: none;
}
.media-menu {
    padding-left: 0;
    color: #ec008c;
    font-size: 13px;
    font-weight: bold;
}
.media-menu__item {
    padding: 4px;
}
.media-menu__item img {
    height: 18px;
}